h1 {
    text-align: center;
}

form div {
    text-align: center;
    margin: auto;
    padding: 5px;
}

label {
    text-align: left;
    width: 200px;
    background-color: orange;
}

input[type="radio"] {

}
